
.pin-spacer{
 height:3700px !important;
}

            * {
              margin: 0;
              padding: 0;
              box-sizing: border-box;
            }

            .wrapper,
            .content {
              position: relative;
              width: 100%;
              z-index: 1;
            }

            .content {
              overflow-x: hidden;
            }

            .content .section {
              width: 100%;
              height: 100vh;
            }

            .content .section.hero {
              background-image: url('../images/backgroundImageMan.jpg');
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              height: 100vh;
            }

            .image-container {
                width: 100%;
                height: 100vh;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                right: 0;
                z-index: 2;
                perspective: 500px;
                overflow: hidden;
            }

            .image-container img {
                width: 30vw;
                height: 30vw;
                border-radius: 100%;
                object-fit: cover;
                display: flex;
                justify-content: center;
                object-position: center center;
                box-shadow: 0 4px 15px rgba(229,229,230,0.5); /* Box shadow */
            }

            .text-overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                z-index: 3;
                text-align: center;
            }

            .text-overlay h1 {
              font-size: 3rem;
              margin-bottom: 0.5rem;
            }

            .text-overlay p {
              font-size: 1.5rem;
            }

            .main-nav a:hover {
                color: #718daa;
            }
  /* =================================
    Media Queries
    ==================================== */

    /* Base styles for mobile devices (default) */
    body {
        /* Default styles here */
    }

    /* Media query for small phones (up to 320px) */
    @media all and (max-width: 320px) {

        .header {
            flex-direction: column; /* Stacked layout */
            align-items: center; /* Center align */
        }

        .image-container {
            display:flex;
            justify-content:center;
            width:100%;
            height: 100vh; /* Full height */
        }

        .image-container img {
            width:70vw;
            height: 70vw; /* Full height */
        }

        .main-nav a {
            display: none; /* Show navigation links */
        }
    }

    /* Media query for medium phones (321px to 480px) */
    @media all and (min-width: 321px) and (max-width: 480px) {
        .header {
            flex-direction: column; /* Stacked layout */
            align-items: center; /* Center align */
        }

        .image-container img {
            width:70vw;
            height: 70vw; /* Full height */
        }

        .main-nav a {
                    display: none; /* Show navigation links */
        }
    }

    /* Media query for large phones (481px to 768px) */
    @media all and (min-width: 481px) and (max-width: 768px) {
        .header {
            flex-direction: column; /* Stacked layout */
            align-items: center; /* Center align */
        }

        .image-container img {
            width:70vw;
            height: 70vw; /* Full height */
        }

        .main-nav a {
            display: none; /* Show navigation links */
        }
    }

    /* Media query for tablets (769px to 1024px) */
    @media all and (min-width: 769px) and (max-width: 1024px) {
        .header {
            flex-direction: column; /* Stack on smaller tablets */
            align-items: center; /* Center align */
        }

        .image-container img {
             width:40vw;
             height: 40vw; /* Full height */
        }

        .main-nav a {
            display: none; /* Show navigation links */
        }
   }

        /* Media query for desktops (1025px and above) */
        @media all and (min-width: 1025px) {
            .header {
                display: flex; /* Ensure header is a flex container */
                flex-direction: row; /* Row layout for header */
                justify-content: space-between; /* Space between header elements */
                align-items: center; /* Align items vertically */
            }

            .main-nav {
                display: flex; /* Ensure nav is a flex container */
                justify-content: flex-end; /* Align nav items to the right */
            }

            .main-nav a {
                margin-left: 20px; /* Optional: space between nav links */
            }

        }

